/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* typography start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* typography end */

/* header area start */
.logo {
  width: 137px;
}

.navigation_items_area {
  width: 100%;
}

.header_area {
  background: #f2f2f7;
  border-bottom: 1px solid #e5e5ea;
  padding-top: 6px;
}

.headerSticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1030;
  background: #ffffff;
  -webkit-animation: hsticky 0.3s ease-in;
  animation: hsticky 0.3s ease-in;
}

@-webkit-keyframes hsticky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hsticky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.top_link_area {
  padding-bottom: 10px;
  border-bottom: #d9d9d9 1px solid;
}

.topbarlink_list {
  width: 100%;
}

.responsivemenuDivider {
  height: 2px;
  background: #404040;
  width: 100%;
}

.topbarlink_list a {
  font-family: Lato;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #2d1817;
  text-transform: uppercase;
}

.user_auth_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  width: 200px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.user_auth_items .searchBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  width: 24px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* smooth effect */
  border-radius: 50%;
}

.user_auth_items .authcartLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  width: 24px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* smooth effect */
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.user_auth_items .authcartLink img {
  height: 18px;
  width: 18px;
}

.user_auth_items .authcartLink:hover {
  border: 1px solid #2d1817;
  -webkit-box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
  box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
}

.user_auth_items .searchBtn:hover {
  border: 1px solid #2d1817;
  -webkit-box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
  box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
}

/* Toggle button styling */

.menudropdown {
  border: 1px solid #e4e7e9;
  -webkit-box-shadow: 0px 8px 40px 0px #0000001f;
  box-shadow: 0px 8px 40px 0px #0000001f;
  border-radius: 4px;
  padding: 24px;
  -webkit-transform: unset !important;
  -ms-transform: unset !important;
  transform: unset !important;
  inset: unset !important;
  top: 100% !important;
  right: 0 !important;
}

.searchDropdown {
  border: 1px solid #e4e7e9;
  -webkit-box-shadow: 0px 8px 40px 0px #0000001f;
  box-shadow: 0px 8px 40px 0px #0000001f;
  border-radius: 4px;
  padding: 24px;
}

.menudropdown .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  border: 1px solid #e4e7e9;
  padding: 12px 22px;
  border-radius: 4px;
  font-family: Lato;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #191c1f;
}

.menudropdown .dropdown-item:hover {
  background: #f2f2f7;
}

.menudropdown .dropdown-item:focus {
  background: #f2f2f7;
}

.menutogglebtn {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.menutogglebtn span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #2d1817;
  border-radius: 3px;
  margin: 2px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

/* Animation to X */
.menutogglebtn.active span:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.menutogglebtn.active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

.menutogglebtn.active span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

/* CSS for the animation */
.menutogglebtn span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #2d1817;
  border-radius: 3px;
  margin: 2px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.menutogglebtn.active span:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.menutogglebtn.active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

.menutogglebtn.active span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

/* bottom link area start */
.bottomLinklist_area {
  padding-top: 10px;
}

.bottomLinklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.bottomLinklist a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  font-family: Lato;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #2d1817;
  text-transform: uppercase;
  /* padding-bottom: 15px; */
}

.bottomLinklist a img {
  width: 9px;
}

.user_auth_items .badge {
  font-family: Inter;
  font-weight: 500;
  font-size: 10.45px;
  line-height: 10.45px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  background: #ff3b30;
  padding: 3px !important;
  min-width: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sublinkList_area {
  width: 100%;
  display: none;
  z-index: 1000;
  top: 97px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sublinklist_area_inner {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.otherSubmenu {
  min-width: 250px;
  top: 100%;
  padding: 10px 15px;
}

.bottomLinklist>.bottombarLink:last-child .otherSubmenu {
  left: unset !important;
  -webkit-transform: unset !important;
  -ms-transform: unset !important;
  transform: unset !important;
  right: -15px !important;
}

.bottombarLink:hover .sublinkList_area {
  display: block;
}

.sublinklist_area_inner {
  max-height: calc(100vh - 130px);
  overflow-y: auto;
}

/* .sublinklist_area_inner .submemulistitem:nth-child(even){
background: #8e8e934d;
} */
.sublinklist_area_inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .submemulistitem{
 border-right: 2px solid #8E8E93;
} */
.submenu_image_box {
  width: 100%;
  aspect-ratio: 250/221;
}

.sublinklist_area_inner ul li a {
  display: block;
  padding: 10px 15px;
  color: #2d1817;
  text-decoration: none;
  -webkit-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.sublinklist_area_inner ul li a:hover {
  background: #f5f5f5;
  color: #9cb31a;
  /* hover এ highlight */
  border-radius: 4px;
}

.sublinklist_area_inner h1 {
  font-family: Forum;
  font-weight: 700;
  font-style: Regular;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 2px;
  color: #2d1817;
}

.sublinklist_area_inner ul li a {
  padding: 0;
  background: none;
  margin-bottom: 8px;
}

.sublinklist_area_inner ul li a:hover {
  background: none;
}

@media (max-width: 1200px) {
  .topbarlink_list a {
    font-size: 12px;
  }

  .bottomLinklist a {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .top_link_area {
    border-bottom: none;
    padding-bottom: 0;
  }

  .logo {
    width: 87px;
  }

  .bottomLinklist .accordion-toggle {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #2d1817;
    text-transform: uppercase;
    padding: 12px 22px;
    text-wrap: nowrap;
  }

  .bottomLinklist .accordion-toggle img {
    width: 9px;
  }

  .accordion-content {
    display: none;
    padding: 12px 22px;
    border-top: 1px solid #8e8e93;
  }

  .accordion-content a {
    text-align: left !important;
    display: block !important;
  }

  .accordion-content h1 {
    font-family: Forum;
    font-weight: 600;
    font-style: Regular;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #2d1817;
  }

  .accordion-toggle {
    cursor: pointer;
    padding: 0.5rem 0;
  }

  .accordion-item.active .accordion-content {
    display: block;
  }

  .accordion-item:not(:first-of-type) {
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
  }
}

@media (max-width: 376px) {
  .logo {
    width: 66px;
  }
}

/* header area end */

/* page title area start */
.page_title_area h1 {
  font-family: Lato;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #191c1f;
}

.page_title_area p {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #5f6c72;
}

/* page title area end */

/* main content area start */
.dashboard_menu_list {
  background: #ffffff;
  box-shadow: 0px 4px 21px 0px #0000000a;
  border: 1px solid #e5e5ea;
  border-radius: 19px;
  padding: 23px 15px;
  position: sticky;
  top: 100px;
}

.dashboard_menu_list li {
  margin-bottom: 10px;
}

.dashboard_menu_list li a {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #2d1817;
  padding: 13px 19px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.dashboard_menu_list li:last-child {
  margin-bottom: 0;
}

.dashboard_menu_list li a span {
  height: 24px;
  width: 24px;
}

.dashboard_menu_list li a:hover {
  background: #9cb31a;
  color: #ffffff;
}

.dashboard_menu_list li a:hover .ac-icon {
  display: block;
}

.dashboard_menu_list li a:hover .de-icon {
  display: none;
}

.dashboard_menu_list li a.active {
  background: #9cb31a;
  color: #ffffff;
}

.ac-icon {
  display: none;
}

.dashboard_menu_list li a.active .ac-icon {
  display: block;
}

.dashboard_menu_list li a.active .de-icon {
  display: none;
}

/* Trigger Button (for mobile) */
.dashboard_menu_trigger {
  display: none;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  background: #9cb31a;
  border-radius: 0 50% 50% 0;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dashboard_menu_trigger img {
  width: 24px;
  height: 24px;
}

/* Half Circle Sidebar */
@media (max-width: 768px) {
  .dashboard_menu_list {
    position: fixed;
    top: 50%;
    left: -180px;
    transform: translateY(-50%);
    width: 180px;
    background: #ffffff;
    border-radius: 0 10px 10px 0;
    /* Half circle effect */
    border: 1px solid #e5e5ea;
    padding: 20px 10px;
    transition: all 0.4s ease;
    z-index: 1002;
  }

  .dashboard_menu_list.open {
    left: 0;
    box-shadow: 0px 4px 21px 0px #0000003d;
  }


  .dashboard_menu_trigger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard_menu_list li a {
    font-size: 13px;
    padding: 10px 10px;
  }

  .dashboard_menu_list li a span {
    height: 20px;
    width: 20px;
  }


  .dashboard_menu_list {
    position: fixed;
    top: 50%;
  }
}

.dashboard_content_item {
  background: #ffffff;
  border: 1px solid #E5E5EA;
  box-shadow: 0px 4px 21px 0px #0000000A;
  border-radius: 19px;

}

.dashboard_content_item .i__box {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #9CB31A14;
  padding: 11px;
}

.dashboard_content_item h1 {
  font-family: Lato;
  font-weight: 500;
  font-size: 22px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #000000;
}

.dashboard_content_item p {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #5F6C72;
  margin-top: 17px;
  margin-bottom: 0;
}

.dashboard_content_item h3 {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #000000;
  line-height: 16px;
  letter-spacing: 0px;
  margin-bottom: 0;
  margin-top: 10px;
}

.dashboard_content_item h4 {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #5F6C72;
  margin-bottom: 0;
}

.dashboard_content_item h2 {
  font-family: Lato;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 17px;
}

.adminSideTable thead tr {
  background: #F2F4F5;
  border: 1px solid #E4E7E9;
}

.adminSideTable thead tr th {
  font-family: Lato;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #475156;
  padding: 10px 15px;
  vertical-align: middle;
  text-wrap: nowrap;
}

.adminSideTable tbody tr td {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #475156;
  vertical-align: middle;
  padding: 24px 15px;
  text-wrap: nowrap;
}

.t_img_box {
  height: 72px;
  width: 72px;
  background: #ffffff;
  padding: 10px 7px;
  box-shadow: 0px 0px 14.67px 0px #00000014;
}

.t_pro_details h5 {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 4px;
}

.t_pro_details p {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #5F6C72;
  margin-top: 0;
}

.order_status {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  ;
  line-height: 15.65px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 7px 14px;
  color: #ffffff;
}

.st_delivered {
  background: #38CB89;
}

.st_processing {
  background: #FF9500;
}

.st_shipped {
  background: #1570EF;
}

.pagination_area .page-link {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #191C1F;
  border: 1px solid #E4E7E9;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.pagination_area .page-link:hover {
  background: #2D1817;
  color: #ffffff;
  border: 1px solid #2D1817;
}

.pagination_area .page-link.active {
  background: #2D1817;
  color: #ffffff;
  border: 1px solid #2D1817;
}

.pagination_area .page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 1.5px solid #2D1817;
  margin-right: 12px;
}

.pagination_area .page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1.5px solid #2D1817;
  margin-left: 12px;
}

/* main content area end */

/* footer area start */
footer {
  padding: 15px 10px 33px 10px;
  border-top: 0.5px solid #c7c7cc;
}

footer .logo {
  width: 104px;
  height: 69px;
  display: block;
}

footer p {
  font-family: Noto Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #2d1817;
  padding-top: 10px;
}

/* footer area end */

/* back to top button start */
.backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  padding: 10px;
  background: #9cb31a;
  border-radius: 50%;
  display: none;
  z-index: 1000;
}

/* back to top button end */

/* pre loader start */
.preloader {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.logoBox {
  width: 144px;
  height: 91px;
  position: relative;
}

.logoBox img {
  width: 100%;
  height: 100%;
}

.spinner-border {
  border: 3px solid #9cb31a;
  border-top-color: transparent;
  position: absolute;
  top: 0;
  right: 35px;
}

@media (max-height: 600px) {
  .oderPlaceSuccessFull_content h1 {
    margin-top: 10px;
  }

  .oderPlaceSuccessFull_content p {
    margin-bottom: 10px;
  }
}

@media (max-height: 500px) {
  .oderPlaceSuccessFull_content h1 {
    margin-top: 0;
  }

  .oderPlaceSuccessFull_content p {
    margin-bottom: 0;
  }

  .check-wrap {
    width: 50px;
    height: 50px;
  }

  .oderPlaceSuccessFull_content h1 {
    font-size: 21px;
    line-height: 27px;
  }
}

/* pre loader end */



/* ------------------order history page start------------------ */
.orderDetailsBtn {
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #1570EF;
}

.orderDetailsBtn:hover {
  text-decoration: underline;
}

.st_cancelled {
  background: #FF3B30;
}

.st_progress {
  background: #FFCC00;
}

.st_completed {
  background: #38CB89;
}

.orderSummer {
  background: #9CB31A14;
  border: 1px solid #9CB31A;
  padding: 24px;
  border-radius: 4px;
}

.orderSummer .summeryDetails h1 {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 8px;
}

.orderSummer .summeryDetails h2 {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #475156;

}

.orderSummer .summeryDetails span {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  background: #475156;
  margin-top: 4px;
}

.orderSummer h3 {
  font-family: Public Sans;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #9CB31A;
}

.orderExpectedArrivel {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #475156;
  margin-bottom: 0;
}

.orderExpectedArrivel span {
  color: #191C1F;
}

.orderTracer {
  width: 90%;
}

.orderTracer_progressline {
  width: 95%;
  height: 8px;
  background: #2D181729;
  border-radius: 10px;

}

.orderTracer_complete_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.order_placed_completed,
.order_packaging,
.order_out_for_deliver,
.order_delivered_completed {
  position: relative;
}

.order_placed_completed::after,
.order_packaging::after,
.order_out_for_deliver::after,
.order_delivered_completed::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #2D1817;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  /* smooth effect */
}

.order_placed_completed::after {
  width: 0%;
}

.order_packaging::after {
  width: 33%;
}

.order_out_for_deliver::after {
  width: 66%;
}

.order_delivered_completed::after {
  width: 100%;
}

.orderTracer_progressline .progressbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #2D1817;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  position: relative;
  z-index: 2;
}

.orderTracer_progressline .progressbox.active {
  border: 2px solid #FFFFFF;
  background: #000000;
}

.orderTracer_progressline .progressbox.completed {
  background: #2D1817;
  border: 2px solid #ffffff;
}

.orderTracer_steps {
  padding-top: 30px;
}

.orderTracer_steps .stepbox {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
  flex-direction: column;
  opacity: .6;
}

.orderTracer_steps .stepbox .step_iconBox {
  height: 32px;
  width: 32px;
}

.orderTracer_steps .stepbox h1 {
  font-family: Public Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #191C1F;

}

.orderTracer_steps .stepbox.completed,
.orderTracer_steps .stepbox.active {
  opacity: 1;
}

.orderTracer_steps .stepbox:last-child {
  padding-right: 9px;
}

.orderTracer_steps .stepbox:nth-child(2) {
  padding-left: 5px;
}

.trackOrderBtn {
  font-family: Lato;
  font-weight: 600;
  font-size: 12px;
  line-height: 23.76px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  color: #9CB31A;
  padding: 0 21px;
  height: 45px;
  border: 1.5px solid #9CB31A;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.trackOrderBtn:hover {
  background: #9cb31a34;
  color: #9CB31A;
}

.cancelOrderBtn {
  font-family: Lato;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  color: #FF383C;
  border: 1.5px solid #FF383C;
  padding: 0 21px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.cancelOrderBtn:hover {
  background: #ff383c34;
  color: #FF383C;
}

.orderDetailsTable h2 {
  font-family: Public Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 15px;
}

.orderDetailsTable h2 span {
  color: #5F6C72;
}

.orderDetailsTable tbody tr {
  border-bottom: 1px solid #E4E7E9;
}

.orderDetailsTable tbody tr td:first-child {
  padding-left: 0;
}

.orderDetailsTable tbody tr:last-child {
  border-bottom: none;
}

.billing_and_shipping_info_area {
  background: #FFFFFF;
  border: 1px solid #E4E7E9;
  padding: 32px 24px;
}

.billing_and_shipping_info_area .info_box {
  border-right: 1px solid #E4E7E9;
  padding-right: 24px;
}

.billing_and_shipping_info_area .info_box h1 {
  font-family: Lato;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 24px;
}

.billing_and_shipping_info_area .info_box h2 {
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 8px;
}

.billing_and_shipping_info_area .info_box p {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #5F6C72;
  margin-bottom: 12px;
}

.billing_and_shipping_info_area .info_box h3 {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #191C1F;
}

.billing_and_shipping_info_area .info_box h3 span {
  color: #5F6C72;
}

#cancelOrderModal .modal-title {
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #191C1F;
}

#cancelOrderModal .modal-body label {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #191C1F;
}

#cancelOrderModal .modal-body .form-select {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #475156;
}

#cancelOrderModal .modal-body .form-control {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #475156;
  resize: none;
}

.returnItemsBtn {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 1.2%;
  text-transform: uppercase;
  color: #ffffff;
  background: #9CB31A;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  padding: 0 30px;
  transition: all 0.3s ease;
}

.returnItemsBtn:hover {
  background: #7a9613;
  color: #ffffff;
}

.returnItemsBtn img {
  width: 24px;
  height: 24px;
}

.fm-forum {
  font-family: Forum !important;
  font-weight: 400 !important;
  font-size: 45px !important;
}

.input_feild_area label {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 8px;
}

.input_feild_area .form-control,
.input_feild_area .form-select {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #77878F;
  height: 45px;
  resize: none;
}

.formFileinput_place {
  border: 0.6px dashed #9CB31A;
  background: #9CB31A14;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
}

.export_img_icon_box {
  height: 29px;
  width: 29px;
}

.formFileinput_place p {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #4D4D4D;
  margin-top: 0;
}


.customFileInputFeild {
  display: none;
}

.input_feild_area .customFileLabel {
  display: inline-block;
  background: #9CB31A;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  max-width: 254px;
  width: 100%;

}

.customFileLabel:hover {
  background: #8CA114;
}

.returnSubmit_btn {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.2%;
  text-transform: uppercase;
  color: #ffffff;
  background: #9CB31A;
  border-radius: 4px;
  height: 48px;
  width: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.returnSubmit_btn:hover {
  background: #7a9613;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .orderTracer_progressline {
    width: 94%;
  }
}

@media (max-width: 991px) {
  .orderTracer_progressline {
    width: 90%;
  }

  .billing_and_shipping_info_area .info_box {
    border-bottom: 1px solid #E4E7E9;
    border-right: none;
    padding-right: 0;
    padding-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .orderTracer_progressline {
    width: 87%;
  }
}

@media (max-width: 450px) {
  .orderTracer {
    width: 100%;
  }

  .orderTracer_progressline {
    height: 4px;
  }

  .orderTracer_progressline .progressbox {
    height: 19px;
    width: 19px;
    font-size: 10px;
  }

  .orderTracer_steps .stepbox .step_iconBox {
    height: 20px;
    width: 20px;
  }

  .orderTracer_steps .stepbox h1 {
    font-size: 11px;
  }

  .orderTracer_steps .stepbox {
    row-gap: 3px;
  }

  .orderTracer_steps {
    padding-top: 20px;
  }
}

@media (max-width: 370px) {
  .orderTracer_progressline {
    width: 85%;
  }

  .pagination_area .page-link {
    height: 25px;
    width: 25px;
    font-size: 10px;
  }

  .pagination_area .page-item:first-child .page-link {
    margin-right: 5px;
  }

  .pagination_area .page-item:last-child .page-link {
    margin-left: 5px;
  }
}

@media (max-width: 346px) {
  .orderTracer_progressline {
    width: 83%;
  }
}

/* wishlist page css start */
.wishlistCard {
  background: #ffffff;
}

.bestSellerLable {
  font-family: Lato;
  font-weight: 400;
  font-size: 11.33px;
  line-height: 11.33px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  background: #E5E5EA;
  border-radius: 3px;
  padding: 6px 10px;
}

.reaction_label span {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.wishlist_image_box {
  width: 100%;
  aspect-ratio: 253 / 221;
  overflow: hidden;
}

.wishlist_card_content {
  padding-top: 30px;
}

.wishlist_card_content h1 {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.wishlist_card_content h2 {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #333333;
}

.wishlist_card_content h3 {
  font-family: Lato;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: #333333;
}

.wishlist_card_content h3 span {
  font-weight: 400;

}

.wishlist_card_content p {
  font-family: Lato;
  font-weight: 500;
  font-size: 20px;
  color: #333333;
}

.w_cart_btn {
  width: 100%;
  border: 1px solid #3A3845;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  font-family: Lato;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  color: #3A3845;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.w_cart_btn:hover {
  background: #3a384513;
}

.w_cart_btn .cartBtn_img_box {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #EDEDED;
  padding: 3px;
}

/* address page area start */
.address_card {
  background: #FFFFFF;
  border: 1px solid #E4E7E9;
  box-shadow: 0px 4px 21px 0px #0000000A;
  border-radius: 19px;
}

.address_card_header {
  border-bottom: 1px solid #E4E7E9;
  padding: 16px 24px;
}

.address_card_header h1 {
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #191C1F;
}

.address_card_body {
  padding: 16px 24px;
}

.address_card_body h2 {
  font-family: Lato;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 12px;
}

.address_card_body p {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #5F6C72;
  margin-bottom: 12px;
}

.address_card_body h3 {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #191C1F;
  margin-bottom: 19px;
}

.address_card_body h3 span {
  color: #5F6C72;
}

.edit_address_btn {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 1.2%;
  text-transform: uppercase;
  color: #9CB31A;
  height: 48px;
  width: 148px;
  border: 2px solid #9CB31A;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.edit_address_btn:hover {
  background: #9cb31a34;
  color: #9CB31A;
}

/* payment method page css start */

.add_new_card {
  font-family: Lato;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
  color: #9CB31A;
  transition: all 0.3s ease;
}

.add_new_card:hover {
  text-decoration: underline;
}

.dashboard_modal .modal-title {
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #191C1F;
}

.dashboard_modal .modal-body label {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #191C1F;
}

.dashboard_modal .modal-body .form-control,
.dashboard_modal .modal-body .form-select {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #475156;
  height: 45px;
  resize: none;
}

.addCardBtn {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 1.2%;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #9CB31A;
  height: 48px;
  width: 123px;
}

.payment_card_item {
  border: 1px solid var(--Grays-Gray-5, #E5E5EA);
  box-shadow: 0px 4px 21px 0px #0000000a;
  border-radius: 19px;
  padding: 24px;
}

.payment_card_item .card_type {
  height: 44px;
  width: 63px;
  box-shadow: 0px 0px 6.78px 0px #00000012;
  border: 0.9px solid #D9D9D9;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment_card_item .card_info h4 {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #2D1817;
}

.primarylabel {
  font-family: Lato;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #00B445;
  background: #00B44533;
  border-radius: 2px;
  padding: 3px 5px;
  display: inline-block;
  margin-left: 10px;
}

.payment_card_item .card_info p {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #5F6C72;
}

.remove_card {
  width: 41px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ED000626;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.remove_card:hover {
  background: #ed000833;
}

.edit_card {
  width: 41px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5EA;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.edit_card:hover {
  background: #C7C7CC;
}

@media (max-width: 420px) {
  .payment_card_item {
    padding: 10px;
  }

  .payment_card_item .card_info h4 {
    font-size: 13px;
  }

  .primarylabel {
    font-size: 10px;
    margin-left: 4px;
  }

  .payment_card_item .card_info p {
    font-size: 13px;
  }

  .remove_card {
    border-radius: 4px;
    width: 26px;
    height: 25px;
    padding: 5px;
  }

  .edit_card {
    border-radius: 4px;
    width: 26px;
    height: 25px;
    padding: 5px;
  }

}

/* profile settings css start */

.profile_settings_form label{
  font-family: Lato;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #191C1F;
}
.profile_settings_form input,
.profile_settings_form select{
  font-family: Lato;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #77878F;
}
.saveChangeBtn_area button{
  font-family: Lato;
font-weight: 700;
font-size: 14px;
line-height: 48px;
letter-spacing: 1.2%;
text-transform: uppercase;
height: 48px;
padding: 0 24px;
display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
border-radius: 2px;
}
.profile_edit_cancel{
  background:#C7C7CC ;
  transition: all 0.3s ease;
}
.profile_edit_cancel:hover{
  background:#a7a7aa ;
}
.saveChanges{
  background: #9CB31A;
   transition: all 0.3s ease;
}
.saveChanges:hover{
  background: #879c0e;
}
.changespass{
  background: #9CB31A;
   transition: all 0.3s ease;
}
.changespass:hover{
  background: #879c0e;
}