/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* typography start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

/* typography end */





/* header area start */
.logo {
    width: 137px;
}

.navigation_items_area {
    width: 100%;
}

.header_area {
    background: #F2F2F7;
    border-bottom: 1px solid #E5E5EA;
    padding-top: 6px;
}

.headerSticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1030;
    background: #ffffff;
    -webkit-animation: hsticky 0.3s ease-in;
            animation: hsticky 0.3s ease-in;

}

@-webkit-keyframes hsticky {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes hsticky {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.top_link_area {
    padding-bottom: 10px;
    border-bottom: #D9D9D9 1px solid;
}

.topbarlink_list {
    width: 100%;
}

.responsivemenuDivider {
    height: 2px;
    background: #404040;
    width: 100%;
}

.topbarlink_list a {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #2D1817;
    text-transform: uppercase;

}

.user_auth_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.user_auth_items .searchBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24px;
    width: 24px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /* smooth effect */
    border-radius: 50%;
}

.user_auth_items .authcartLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24px;
    width: 24px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /* smooth effect */
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.user_auth_items .authcartLink img {
    height: 18px;
    width: 18px;
}

.user_auth_items .authcartLink:hover {
    border: 1px solid #2D1817;
    -webkit-box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
            box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
}

.user_auth_items .searchBtn:hover {
    border: 1px solid #2D1817;
    -webkit-box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
            box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
}

/* Toggle button styling */

.menudropdown {
    border: 1px solid #E4E7E9;
    -webkit-box-shadow: 0px 8px 40px 0px #0000001F;
            box-shadow: 0px 8px 40px 0px #0000001F;
    border-radius: 4px;
    padding: 24px;
    -webkit-transform: unset !important;
        -ms-transform: unset !important;
            transform: unset !important;
    inset: unset !important;
    top: 100% !important;
    right: 0 !important;
}

.searchDropdown {
    border: 1px solid #E4E7E9;
    -webkit-box-shadow: 0px 8px 40px 0px #0000001F;
            box-shadow: 0px 8px 40px 0px #0000001F;
    border-radius: 4px;
    padding: 24px;
}

.menudropdown .dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    border: 1px solid #E4E7E9;
    padding: 12px 22px;
    border-radius: 4px;
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #191C1F;
}

.menudropdown .dropdown-item:hover {
    background: #F2F2F7;
}

.menudropdown .dropdown-item:focus {
    background: #F2F2F7;
}

.menutogglebtn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.menutogglebtn span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #2D1817;
    border-radius: 3px;
    margin: 2px 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

/* Animation to X */
.menutogglebtn.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
}

.menutogglebtn.active span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
}

.menutogglebtn.active span:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
        -ms-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
}

/* CSS for the animation */
.menutogglebtn span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #2D1817;
    border-radius: 3px;
    margin: 2px 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

.menutogglebtn.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
}

.menutogglebtn.active span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
}

.menutogglebtn.active span:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
        -ms-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
}

/* bottom link area start */
.bottomLinklist_area {
    padding-top: 10px;
}

.bottomLinklist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}


.bottomLinklist a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #2D1817;
    text-transform: uppercase;
    /* padding-bottom: 15px; */
}

.bottomLinklist a img {
    width: 9px;
}

.user_auth_items .badge {
    font-family: Inter;
    font-weight: 500;
    font-size: 10.45px;
    line-height: 10.45px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    background: #FF3B30;
    padding: 3px !important;
    min-width: 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.sublinkList_area {
    width: 100%;
    display: none;
    z-index: 1000;
    top: 97px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.sublinklist_area_inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.otherSubmenu {
    min-width: 250px;
    top: 100%;
    padding: 10px 15px;
}

.bottomLinklist>.bottombarLink:last-child .otherSubmenu {
    left: unset !important;
    -webkit-transform: unset !important;
        -ms-transform: unset !important;
            transform: unset !important;
    right: -15px !important;
}

.bottombarLink:hover .sublinkList_area {
    display: block;
}

.sublinklist_area_inner {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}

/* .sublinklist_area_inner .submemulistitem:nth-child(even){
background: #8e8e934d;
} */
.sublinklist_area_inner ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

/* .submemulistitem{
 border-right: 2px solid #8E8E93;
} */
.submenu_image_box {
    width: 100%;
    aspect-ratio: 250/221;
}

.sublinklist_area_inner ul li a {
    display: block;
    padding: 10px 15px;
    color: #2D1817;
    text-decoration: none;
    -webkit-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}

.sublinklist_area_inner ul li a:hover {
    background: #f5f5f5;
    color: #9CB31A;
    /* hover ‡¶è highlight */
    border-radius: 4px;
}

.sublinklist_area_inner h1 {
    font-family: Forum;
    font-weight: 700;
    font-style: Regular;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #2D1817;
}

.sublinklist_area_inner ul li a {
    padding: 0;
    background: none;
    margin-bottom: 8px;
}

.sublinklist_area_inner ul li a:hover {
    background: none;
}

@media (max-width: 1200px) {
    .topbarlink_list a {
        font-size: 12px;
    }

    .bottomLinklist a {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .top_link_area {
        border-bottom: none;
        padding-bottom: 0;
    }

    .logo {
        width: 87px;
    }

    .bottomLinklist .accordion-toggle {
        font-family: Lato;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #2D1817;
        text-transform: uppercase;
        padding: 12px 22px;
        text-wrap: nowrap;
    }

    .bottomLinklist .accordion-toggle img {
        width: 9px;
    }

    .accordion-content {
        display: none;
        padding: 12px 22px;
        border-top: 1px solid #8E8E93;
    }

    .accordion-content a {
        text-align: left !important;
        display: block !important;
    }

    .accordion-content h1 {
        font-family: Forum;
        font-weight: 600;
        font-style: Regular;
        font-size: 16px;
        line-height: 45px;
        letter-spacing: 2px;
        color: #2D1817;
    }

    .accordion-toggle {
        cursor: pointer;
        padding: 0.5rem 0;
    }

    .accordion-item.active .accordion-content {
        display: block;
    }

    .accordion-item:not(:first-of-type) {
        border-top: 1px solid rgba(0, 0, 0, .125) !important;
    }

}

@media (max-width: 376px) {
    .logo {
        width: 66px;
    }
}

/* header area end */

/* page title area start */
.page_title_area h1{
    background: #F2F2F7;
    padding: 40px 0;
}
/* page title area end */

/* footer area start */
footer {
    padding: 15px 10px 33px 10px;
    border-top: 0.5px solid #C7C7CC;
}

footer .logo {
    width: 104px;
    height: 69px;
    display: block;
}

footer p {
    font-family: Noto Serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #2D1817;
    padding-top: 10px;
}
/* footer area end */



/* back to top button start */
.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background: #9CB31A;
    border-radius: 50%;
    display: none;
    z-index: 1000;
}

/* back to top button end */

/* pre loader start */
.preloader {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.logoBox {
    width: 144px;
    height: 91px;
    position: relative;
}

.logoBox img {
    width: 100%;
    height: 100%;
}

.spinner-border {
    border: 3px solid #9CB31A;
    border-top-color: transparent;
    position: absolute;
    top: 0;
    right: 35px;

}

@media (max-height: 600px) {
    .oderPlaceSuccessFull_content h1 {
        margin-top: 10px;
    }

    .oderPlaceSuccessFull_content p {
        margin-bottom: 10px;
    }
}

@media (max-height: 500px) {
    .oderPlaceSuccessFull_content h1 {
        margin-top: 0;
    }

    .oderPlaceSuccessFull_content p {
        margin-bottom: 0;
    }

    .check-wrap {
        width: 50px;
        height: 50px;
    }

    .oderPlaceSuccessFull_content h1 {
        font-size: 21px;
        line-height: 27px;
    }
}

/* pre loader end */
